body {
	background-color:	#D5D5D5;
}

.header
{
	display: flex;
	height: 19vh;
	font-family: "Trebuchet MS";
	color: #DDDDDD;
	letter-spacing: 3px;
}

/* currently not being used!*/
.footer
{
	height: 29vh;
}

.center
{
	display: flex;
	height: 75vh;
	
}

.middle
{
	width: 60%;
	display: flex;
	flex-direction: column;
}

.middle > div
{
	align-items: flex-start;
	width: 100%;

}

#title
{
	font-family: "Trebuchet MS";
	text-decoration: none;
	color: #6D7993;
}

.side
{
	width: 19%;
}

.column
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 33.33%;
	float: left;
}

.centerColumn
{
	display:flex;
	padding: 10px;
	align-items: center;
}

.gridcontainer
{
	width:100%;
	max-height:58%;
	display:grid;
	padding: 10px;

}

.row1
{
	grid-row-start: 1;
	grid-row-end: 1;
}


#userInfo
{
	border-radius: 15px;
	width: 75%;
	height: 75%;
	background-color: white;
}

#welcomeText
{
	margin: 3%;
	color: #DDDDDD;
}

#searchBox
{
	border-radius: 30px;
	width: 70%;
	padding: 15px;
	margin-bottom: 2%;
}

#resultsBox
{
	/*Todo: display w/ search result success*/
	display: none;
	font-family: "Trebuchet MS";
	text-decoration: none;
	color: #707070;
	background-color: white;
	/*if overflow, scroll w/in box*/
	overflow: auto;
	border-style: solid;
	border-width: 2px;
}

#logOut
{
	max-height: 30%;
	font-family: "Trebuchet MS";
	font-size: large;
	text-align: center;
	border-radius: 10px;
	background-color: #6D7993;
	color: #DDDDDD;
	margin: 3%;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 5%;
	padding-right: 5%;
}

#searchButton, #addContact
{
	max-width: 30%;
	font-family: "Trebuchet MS";
	font-size: large;
	text-align: center;
	border-radius: 10px;
	background-color: #6D7993;
	color: #DDDDDD;
	margin-left: 2%;
	margin-bottom: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 5%;
	padding-right: 5%;
}
